In [8]:
import numpy as np 
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [9]:
df=pd.read_csv(r"C:\Users\SDR\Desktop\data science\Voting_pattern.csv")
df.head()

       RACE       PARTY
0     WHITE  REPUBLICAN
1     WHITE  REPUBLICAN
2     WHITE    DEMOCRAT
3  HISPANIC    DEMOCRAT
4     ASIAN    DEMOCRAT

In [10]:
x=df["RACE"]
y=df["PARTY"]

In [12]:
x.head()

0       WHITE
1       WHITE
2       WHITE
3    HISPANIC
4       ASIAN
Name: RACE, dtype: object

In [13]:
y.head()

0    REPUBLICAN
1    REPUBLICAN
2      DEMOCRAT
3      DEMOCRAT
4      DEMOCRAT
Name: PARTY, dtype: object

In [14]:
from sklearn.linear_model import LinearRegression
from sklearn.linear_model import LogisticRegression
from sklearn import preprocessing, model_selection

In [15]:
model=LogisticRegression()

In [16]:
from sklearn.model_selection import StratifiedKFold
from sklearn.model_selection import KFold
from sklearn.model_selection import cross_val_score
from sklearn.model_selection import train_test_split
from sklearn.model_selection import LeaveOneOut

In [17]:
x_train, x_test, y_train, y_test = train_test_split(x, y, test_size=0.3, random_state=11)

In [19]:
df.dtypes

RACE     object
PARTY    object
dtype: object

In [20]:
df.head(10)

       RACE       PARTY
0     WHITE  REPUBLICAN
1     WHITE  REPUBLICAN
2     WHITE    DEMOCRAT
3  HISPANIC    DEMOCRAT
4     ASIAN    DEMOCRAT
5  HISPANIC    DEMOCRAT
6     WHITE    DEMOCRAT
7     WHITE  REPUBLICAN
8  HISPANIC  REPUBLICAN
9     BLACK  REPUBLICAN

In [21]:
df_dummies=pd.get_dummies(df,columns=["RACE"])

In [22]:
df_dummies=pd.get_dummies(df_dummies,columns=["PARTY"])
df_dummies.head()

,RACE_ASIAN,RACE_BLACK,RACE_HISPANIC,RACE_OTHER,RACE_WHITE,PARTY_DEMOCRAT,PARTY_INDEPENDENT,PARTY_REPUBLICAN
0,0,0,0,0,1,0,0,1
1,0,0,0,0,1,0,0,1
2,0,0,0,0,1,1,0,0
3,0,0,1,0,0,1,0,0
4,1,0,0,0,0,1,0,0